<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="conexionFDB" value="Server=localhost;User=$user;Password=$pwd;Charser=NONE;Database=C:\\MOVGANADO\\$tracker" />
      <add key="conexionAccess" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\MOVGANADO\\movsio.mdb;JET OLEDB:DATABASE PASSWORD = $pwd" />
      <add key="conexionSQL" value="data source = localhost\SIO; initial catalog = DBALIMENTO; user id = $usr; password = $pas" />
      <add key ="origen" value ="false"/>
      <add key="conexionSIE" value="http://sistema0227.no-ip.info:8100/aia/Aia1?AppService=@erp" />
    </appSettings>
</configuration>